.aside{
  flex: 0 0 280px;
  &__link{
    text-decoration: none;
  }
  @media (max-width:1024px) {
    display: none;
  }
}
.catigories{
    &__inner{
    display: flex;
    padding: 10px 5px;
    cursor: pointer;
    &:hover{
      background-color: lightgray;
    }
  }
  &__img{
    margin-right: 15px;
  }
  &__name{
    color: #1290D7;
    font-size: 23px;
  }
}
